body {
    overflow-x: hidden;
}

.navbar .nav-link {
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 1rem !important;
    padding-right: 1rem !important;

}

.navbar .navbar-expand-sm {
    background-color: rgb(63, 114, 155);
}

.navbar-brand {
    font-size: 28px;
}

.navbar .nav-item.active {
    border-left: #444 3px solid;
}

#home-heading-1 {
    min-height: 350px;
    background: url('../img/beverage-black-coffee-blur-1235717.jpg') no-repeat center center fixed;
    background-attachment: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #fff;
}

#home-heading {
    position: relative;
    min-height: 200px;
    background: url('../img/beverage-black-coffee-blur-1235717.jpg') no-repeat center center fixed;
    background-attachment: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #fff;
}

#home-heading-1-blog {
    min-height: 200px;
    background: url('../img/beverage-black-coffee-blur-1235717.jpg') no-repeat center center fixed;
    background-attachment: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.dark-overlay {
    border-radius: 2px;
    background: rgba(0, 0, 0, 0.2);
}

#video-play {
    min-height: 200px;
    background-color: #3e3e3e;
    text-align: center;
}

#view {
    background: url('../IMG/beverage-black-coffee-blur-1235717.jpg') no-repeat center center fixed;
    background-size: cover;
}